
@media (max-width: 460px){
    .container__nav{
        ul{
            padding: 40px;
            flex-direction: column;
        }
        li{
            list-style: none;
            flex-direction: column;
            padding: 5px;
            margin-top: 39px;   
        }
        a{
            font-size: 15px
        }
    }
}

header{
    @include flex-center-center;
    flex-direction: column;
    width: 100%;
    height: 200px;
    background-color: $color-fondo-primario;
    .container__logo{
        border-radius: 20px;
        background-color: $color-fondo-secundario;
        padding: 20px;
        @include aparecer;
    }
    .logo{
        text-align: center;
        font-weight: 700;
        color: $color-primario;
        text-shadow: 1px 1px 2px $color-fondo-secundario;
        font-size: 30px;
        span{
            color: rgb(230, 176, 39);
        }
        
    }.logo__descripcion{
        text-align: center;
        font-weight: 300;
        color: darkgoldenrod;
        text-shadow: 1px 1px 2px $color-fondo-secundario;
        font-size: 18px;
        
    }
    .container__nav {
        padding: 10px 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        ul{
            padding: 20px;
        }
        li{
            list-style: none;
            display: inline;
            padding: 1px;
            margin-top: 39px;
        }
        a{
            text-decoration: none;
            font-size: 11px;
            color: $color-primario;
            background-color: $color-boton-primario;
            border-radius: 10px;
            padding: 6px;
            box-shadow: 1px 1px 2px black;
            &:hover{
                @include apareceboton;
            }
            @media (min-width: 460px){
                font-size: 15px;
                padding: 10px;
            }
        }
    }
}



@media (min-width: 688px){
    header{
        flex-direction: row;
    }
}


